Data/*.csv*
Data/*.txt
Data/numuUpDown/*
Data/numuEReg/*

Output/*
Output/OutputERegResNet/*
OutputReg/Models/ConvNet*
OutputRegPChannels/Models/*
Submit/Regression/*.out
Submit/Regression/*.err
Submit/UpDownClassification/*.out
Submit/UpDownClassification/*err
Submit/ResNet/*.out
Submit/ResNet/*.err
Submit/3dResNet/*.out
Submit/3dResNet/*.err
